.shop-filter-wrapper {
  padding: 10px 5%;
  .shop-filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .search-div {
      border: 1px solid black;
      width: fit-content;
      input {
        background: transparent;
        border: 0px;
        width: 500px;
        padding: 5px 10px;
        outline: none;
        height: 100%;
      }
    }
    img {
      width: 30px;
    }
  }
  .filter-select {
    display: grid;
  }
}
.cart {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart-dropdown-wrapper {
  display: flex;
  background-color: beige;
}
.filter-sub-options-wrapper {
  margin-top: 70px;
}
.sort-drop-down,
.mobile-sort-drop-down,
.filter-sub-options-wrapper {
  display: block;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
  background-color: #fff;
  padding: 20px;
  width: fit-content;
  position: absolute;
  z-index: 5;
  p {
    padding: 10px;
    &:hover {
      cursor: pointer;
    }
  }
}
.mobile-sort-drop-down {
  display: none;
}
.filter-heading-wrapper {
  position: absolute;
  z-index: 5;
  display: flex;

  padding: 10px 0;
  width: 90vw;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;

  background-color: #fff;

  div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: rgba(0, 0, 0, 0.15) 1px solid;
    padding: 10px;
    p {
      padding: 10px;
      &:hover {
        cursor: pointer;
      }
    }
  }
  // background-color: #fff;
}

.mobile-filter {
  display: none;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;

  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px 25px;
  div {
    display: flex;
    // justify-content: center;
    justify-content: space-evenly;
    img {
      width: 20px;
    }
  }
}

.mobile-filter-options-wrapper {
  display: flex;
  background: rgba(0, 0, 0, 0.918);
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  height: 1000vh;
  width: 100%;
  flex-direction: column;
  // z-index: 20;
  * {
    color: white;
  }
  .heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 5%;
  }
}

@media screen and (max-width: 480px) {
  .mobile-filter {
    display: grid;
  }
  .mobile-sort-drop-down {
    display: block;
  }
  .shop-filter-wrapper {
    display: none;
    // visibility: hidden;
  }
}
