.shop-filter-wrapper {
  padding: 10px 5%;
  .shop-filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .search-div {
      border: 1px solid black;
      width: fit-content;
      input {
        background: transparent;
        border: 0px;
        width: 500px;
        padding: 0 10px;
      }
    }
    img {
      width: 30px;
    }
  }
  .filter-select {
    display: grid;
    .filter-heading {
      background-color: yellow;
    }
  }

  .filter-options {
    background-color: aqua;
    display: flex;
  }
}
