@import "../../App.scss";
.login{
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
  .left {
    background: url('../../resources/login.jpg');
   background-position: center;
   background-size: cover;
  }
  .right {
    display: flexbox;
    padding: 7.5vh ;
    .form-wrapper {
      display: grid;
      padding: 20px 30px;
      grid-row-gap: 20px;
      form {
        display: grid;
        grid-row-gap: 20px;

        .auth-form-item {
          width: 100%;
          span{
            font-size: 85%;
          }
          p {
            padding: 10px 0;
          }
          .input-item {
            padding: 5px 10px;
            // display: flex;
            display: grid;
            grid-template-columns: 1fr 9fr;
            border-radius: 4px;
            border: 1px solid #c5c3c3;
            transition: all 0.2s ease-in-out;

            &:hover {
              border: 2px solid $pry;
              box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.04), 0 2px 2px #c6538c98;
            }

            img {
              width: 15px;
              padding: 5px;
            }
            input {
              border: 0px;
              &:focus {
                outline: none;
              }
            }
          }
        }
      }
      .divider {
        display: grid;
        grid-template-columns: 4fr 1fr 4fr;

        text-align: center;
        align-items: center;
        hr {
          //   height: 0.5px;
          //   color: $pry;
          border: 0.5px solid black;
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  input {
    font-size: 16px;

  }
  .input-item{
    input{
      background: transparent;

    }
  }
  .login {
    .left{
      display: none;
    }
    .right {
    padding: 10vh 0px;
    padding-left: 0;

    width: 100vw;
 
    }
  }
}
