$pry: #c6538c;
$sec: #fff;

.mobile {
  display: none;
  .mobile-hero {
    padding: 70px 10%;
    .text {
      h2 {
        font-size: 32px;
        font-weight: 900;
        font-family: "Montserrat", sans-serif;
        line-height: 1.5em;
        letter-spacing: 2px;
        z-index: 40;
        position: relative;
        top: 0;
        right: 0;
      }
      p {
        font-size: 16px;
        font-weight: 700;
        font-family: "Montserrat", sans-serif;
        line-height: 1.5;
        letter-spacing: 1px;
        position: relative;
        top: 0;
        right: 0;
      }
      .square-div,
      .square-div3 {
        background-color: #c6538c9a;
        height: 10px;
        width: 60%;
        position: absolute;
      }
      .square-div {
        top: 10%;
        right: 5%;
      }

      .square-div3 {
        top: 40%;
        left: 20%;
      }
    }
    .image {
      width: 100%;
      text-align: center;
      img {
        width: 50%;

      }
    }
  }
}
.home {
  .home-desktop {
    display: block;
    .hero {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding: 70px 10%;
      align-items: center;
      .text {
        h1,
        h2 {
          font-size: 60px;
          font-weight: 900;
          font-family: "Montserrat", sans-serif;
          line-height: 1.4em;
          letter-spacing: 2px;
        }
        p {
          font-size: 18px;
          font-weight: 700;
          font-family: "Montserrat", sans-serif;
          line-height: 1.4;
          letter-spacing: 1px;
        }
      }
      .image {
        width: 100%;
        text-align: center;
        position: relative;
      background:url('../../resources/home-bg.svg') ;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;

        img {
          width: 50%;
          z-index: 40;
          position: relative;
          top: 0;
          right: 0;
        }
        .square-div,
        .square-div2,
        .square-div3,
        .square-div4 {
          background-color: #c6538c9a;
          width: 60%;
          position: absolute;
          height: 5%;
        }
        .square-div {
          top: 10%;
          right: 0;
        }
        .square-div2 {
          width: 40%;
          bottom: 20%;
          left: 20%;
        }
        .square-div3 {
          width: 60%;
          top: 30%;
          left: 20%;
        }
        .square-div4 {
          width: 40%;
          bottom: 40%;
          right: 0;
        }
      }
    }
    .sponsors {
      background-color: #c6538c9a;
      display: flex;
      justify-content: space-between;
      padding: 30px 10%;
    }
    .our-brand {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;
      align-items: center;
      padding: 10px 10%;
      height: 80%;
      img {
        width: 70%;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
}
// .home-bg{
//   // background: url("../../resources/home-bg.svg") no-repeat center center fixed;
//   height: 100%;
// }