@import "../../App.scss";
.checkout-page {
  display: grid;
  grid-template-columns: 3fr 2fr;
  padding: 50px 5%;
  grid-gap: 5%;
  max-height: 100vh;
  box-sizing: border-box;
  input,
  textarea {
    border: 1px solid #e5e5e5;
  }
  .billing-info {
    background-color: #fcfcfc;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    padding: 50px 5%;
    width: 100%;
    box-sizing: border-box;

    h2 {
      font-size: 15px;
      padding-bottom: 0.5rem;
    }
    .delivery,
    .pick-up {
      width: 100%;
      display: flex;
      align-items: center;
      border: 1px solid #e5e5e5;
      background-color: transparent;
      margin: 10px 0;
      padding: 10px 25px;
      border-radius: 3px;
      box-sizing: border-box;
      background-color: transparent;
      &:hover{
        cursor: pointer;
      }

      img {
        width: 1.2rem;
        padding: 0 12px;
      }
      p {
        font-size: 12px;
        font-weight: 600;
        color: rgb(51, 50, 50);
      }
    }
    .active {
 
      background-color: rgba(217, 166, 192, 0.49);
      border: 1px solid rgba(198, 83, 140, 0.6039215686);
      &:hover{
        cursor: auto;
      }
    }
    form {
      box-sizing: border-box;

      .input-wrapper {
        width: 100%;
        box-sizing: border-box;
        padding: 7.5px 0px;
        label {
          font-size: 14px;
          display: block;
          padding: 5px 0;
          padding-bottom: 7.5px;
          color: grey;
        }
        input,
        textarea {
          width: 70%;
          padding: 5px 7.5px;
        }
      }
    }
  }
  .order-summary {
    background-color: #fcfcfc;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    padding: 30px 7.5%;
    width: 100%;
    box-sizing: border-box;
    height: 70%;
    p {
      // color: grey;
      font-size: 14px;
    }
    h2 {
      font-size: 15px;
      padding-bottom: 1rem;
    }
    .order-items {
      width: 100%;
      .checkout-item {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0.5rem 0;
        p {
          // font-size: 14px;
        }
      }
      padding-bottom: 1rem;
      border-bottom: 1px solid #e5e5e5;
    }
    .logistics,
    .coupon,
    .order-total {
      width: 100%;
      padding: 1rem 0;
      border-bottom: 1px solid #e5e5e5;
      p {
        padding: 0.5rem 0;
      }
      .input-wrapper {
        width: 100%;
        display: grid;
        grid-template-columns: 70% 25%;
        grid-gap: 5%;
        button {
          width: 100%;
        }
        input {
          padding: 5px 7.5px;
        }
      }
      .logistics-item {
        display: flex;
        justify-content: space-between;
      }
    }
    .order-total {
      display: flex;
      justify-content: space-between;
      p {
        color: #000;
        font-weight: 700;
      }
    }
  }
}
@media screen and(max-width:480px) {
  .checkout-page {
    display: block;

    padding: 0 5%;
    max-height: max-content;
    .billing-info,
    .order-summary {
      margin: 5% 0;
      form .input-wrapper {
        input,
        textarea {
          width: 100%;
          box-sizing: border-box;
        }
      }
    }
  }
}
