@import "../../App.scss";
.checkout-page {
  display: grid;
  grid-template-columns: 3fr 2fr;
  padding: 50px 5%;
  grid-gap: 5%;
  .order-summary {
    background-color: #fcfcfc;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    padding: 10% 7.5%;
    width: 100%;
    box-sizing: border-box;
    p {
      color: grey;
      font-size: 14px;
    }
    h2 {
      font-size: 15px;
      padding-bottom: 1rem;
    }
    .order-items {
      width: 100%;

      .checkout-item {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0.5rem 0;
        p {
          font-size: 14px;
        }
      }
      padding-bottom: 1rem;
      border-bottom: 1px solid #e5e5e5;
    }
    .logistics,
    .coupon,
    .order-total {
      width: 100%;
      padding: 1rem 0;
      border-bottom: 1px solid #e5e5e5;
      p {
        padding: 0.5rem 0;
      }
      .input-wrapper {
        width: 100%;
        display: grid;
        grid-template-columns: 70% 25%;
        grid-gap: 5%;
        button {
          width: 100%;
        }
      }
      .logistics-item {
        display: flex;
        justify-content: space-between;
      }
    }
    .order-total {
      display: flex;
      justify-content: space-between;
      p {
        color: #000;
        font-weight: 700;
      }
    }
  }
}
