
.cart-page{
  padding: 50px 5%;
  .cart-items,.cart-total{
    padding: 30px 0;
  }
  .cart-total{
    padding-left: 50px;
    h2{
      padding-bottom: 50px;
    }

  }
}
.cart-item-image {
  width: 40%;
}
.table{
  padding: 30px 0;
}
.table-heading,
.table-body {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 1fr 1fr 1fr;
  align-items: center;
  padding: 10px;
}
.table-body {
  h2 {
    text-align: center;
  }
}
.cart-page {
  display: grid;
  grid-template-columns: 3fr 2fr;
}

.cart-total {
  padding: 0px 25px;

  .price-breakdown {
    display: grid;
    grid-gap: 20px;
    .sub-total,
    .total {
      display: flex;
      width: 100%;
      justify-content: space-between;
    }
  }
}
.shipping{
  display: flex;
  justify-content: space-between;
  div{
    display: block;
  }
}