.cart-item-image {
  width: 40%;
}
.table-heading,
.table-body {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 1fr 1fr 1fr;
  align-items: center;
  padding: 10px;
}
.table-body {
  h2 {
    text-align: center;
  }
}
.cart-page {
  display: grid;
  grid-template-columns: 3fr 2fr;
}
.cart-total {
  padding: 0px 25px;

  .price-breakdown {
    display: grid;
    grid-gap: 20px;
    div {
      display: flex;
      width: 100%;
      justify-content: space-between;
    }
  }
}
.shipping-cost {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20%;
}
