.shop {
  .shop-top {
    padding: 20px 7.5%;
  }
  .shop-body {
    display: flex;

    .shop-left {
      width: 25%;
      padding: 0 5%;
      .sub-item{
        p{
        &:hover{
          cursor: pointer;
        }
        }
      }
    }
    .shop-right {
      width: 75%;
      padding: 0 5%;
    }
  }
}
