$pry: #c6538c;

.shop-header {
  height: 100%;

  .mobile {
    display: none;
  }
  .desktop {
    border: 1px solid #fff;
    background: #ffffff;
    box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.04);
    display: flex;
    align-items: center;
    padding: 10px 5%;
    justify-content: space-between;
  
    .auth-wrapper {
      display: flex;
      grid-gap: 20px;
    }
  }
}
@media screen and (max-width: 480px) {
  .shop-header {
    .desktop {
      display: none;
    }
    .mobile {
      display: flex;
      width: 100%;
      height: 100%;
      color: #fff;
      .close,
      .open {
        display: flex;
        justify-content: space-between;
        background-color: #c6538c;
        width: 100%;
        padding: 10px 5%;

        img {
          width: 25px;
        }
      }
      .close {
        height: fit-content;
      }
      .open {
        flex-direction: column;
        position: relative;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        overflow-y: hidden;
        justify-content: flex-start;
        height: 100%;
  
    
        .top {
          display: flex;
          justify-content: space-between;
          background-color: #c6538c;
          width: 100%;
        }
        .menu-items,
        .auth-wrapper {
          display: grid;
          gap: 20px;
          padding-top: 30px;
       
        }
      }
      .close {
        background-color: #fff;
      }
    }
  }
}
