$pry: #c6538c;
$sec: #fff;
* {
  padding: 0;
  margin: 0;
}
.App {
  max-height: 100vh;
  height: 100vh;
}
.highlight {
  color: #c6538c;
  display: inline;
}

a {
  color: inherit;
  text-decoration: none;
}
